@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --white: 255 255 255;
    --black: 0 0 0;

    --100: 196 196 196;
    --200: 31 41 55;
    --300: 75 85 99;

    --gradient-100: 55 65 81;
    --gradient-200: 17 24 39;
  }
}
