@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --white: 255 255 255;

    --primary: 196 196 196;
    --secondary: 31 41 55;
    --tertiary: 75 85 99;

    --gradient-primary: 55 65 81;
    --gradient-secondary: 17 24 39;
  }
}
